@page "{id:int}"
@model EditMachineModel

<h2>Edytuj Maszynę</h2>

<form method="post">
    <div>
        <label for="Name">Nazwa</label>
        <input type="text" id="Name" name="Machine.Name" value="@Model.Machine.Name" />
    </div>
    <div>
        <label for="Description">Opis</label>
        <textarea id="Description" name="Machine.Description">@Model.Machine.Description</textarea>
    </div>
    <button type="submit">Zapisz</button>
</form>
<a href="/Machines">Wróć do listy maszyn</a>